body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    max-width: 400px;
    margin: 0 auto;
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    width:200px;
    font-size: 2em;
    background-color: rgba(98, 234, 35, 0.737);
    border: 1.5px solid #0e0c0c;
    border-radius: 12px;
}

button {
    padding: 20px;
    font-size: 1.1em;
    background-color: #de3727;
    color: #fff;
    border: 1.5px solid rgb(6, 9, 11); 
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #2980b9;
}




